<div class='content'>
  <div class='hero'>
    <nav class='hero-header'>
      <div class='logo-holder'>
        <%= image_tag 'logo.png', class:'logo' %>
        <aside class='logo-after'>CLOUDSOUNDS</aside>
      </div>
      <ul class='header-buttons'>
        <li class='sign-in button'>Sign In</li>
        <li class='sign-up button'>Create Account</li>
      </ul>
    </nav>
    <div class="hero-box">
      <h3>It's sunny and 65℉ in San Francisco</h3>
      <h3>Get the music to match.</h3>
      <button class='sign-up demo button'>Guest Login</button>

    </div>
  </div>
  <div class="search">
    <form class="search-form">
      <input type="text" placeholder="Search for weather moods, artists, or tracks"></input>
    </form>
    <p> or </p>
    <button class="upload">Upload your own</button>
    </div>
    <h3>Hear what's coming down today</h3>
    <ul class="trending">
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
      <li class="album"><img src="http://placekitten.com/212/212" />
        <div class="track-info">
          <aside>"Oh The Weather Outside is Weather"</aside>
          <aside>Storm Cloudguy</aside>
        </div>
      </li>
    </ul>
    <div class="front-footer">
      <div class="footer-box">
        <ul>
          <li>Directory</li>
          <li>About</li>
          <li>Careers</li>
          <li>Developers</li>
          <li>Help</li>
          <li>Legal</li>
          <li>Privacy</li>
        </ul>
          <ul>
            <li>

            </li>
          </ul>
          <ul>
            <li>
            </li>
          </ul>
      </div>
    </div>
    <div class="play-controls">
      <button class="back"></button>
      <button class="pause"></button>
      <button class="skip"></button>
        <div class='timer progress'>1:04</div>
        <div class="outer-progress">
          <div class="inner-progress"></div>
        </div>
        <div class="timer total">3:07</div>
        <button class='volume'></button>
        <div class='track-data'>
          <img class="playback-art"src="http://placekitten.com/30/30" alt="">
          <ul class='column'>
            <li class='playlist-name'>Playing from Rainy Day Tracks</li>
            <li class= 'title'>Raindrops Keep Falling on my Head</li>
          </ul>
        </div>
        <button class='favorite'></button>
    </div>
  </div>
