$skyblue: #7EC0EE;
$transparent-light-grey: rgba(17,17,17,0.25);

.playing {
  background-color: black;
  color: whitesmoke;
  padding: 3px 3px;
  &:hover {
    background-color: $skyblue;
    color: black;
  }
}

.playlist-item {
  &:hover {
    cursor: pointer;
    background-color: $transparent-light-grey
  }
}

#playlist {
  position:fixed;
  bottom: 46px;
  right: 10px;
  font-size: 12px;
}

#playlist-queue{
  color: black;
  display: block;
  font-size: 16px;
  margin-right: 5px;
  position: absolute;
  right: 1px;
  bottom: 11px;
  z-index: 3;
  &:hover{
    cursor: pointer;
  }
}

#wrapper {
  position: fixed;
  bottom: 36px;
  z-index: 2;
}

.playing p.play {
  display:none;
}

.audiojs .play {
  background-image: url('https://a-v2.sndcdn.com/assets/images/playback/play-c9d2fb.svg');
}

.audiojs .back {
  display: inline-block;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/prev-34697d.svg);
  background-size: 50%;
  margin-left: 9%;
}

.audiojs .pause {
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/pause-b172a6.svg);
  background-position: center;
  background-size: 50%;
}

.audiojs .skip {
  display: inline-block;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/skip-3aac31.svg);
  background-size: 50%;
}
.audiojs.playing{
  padding: 0;
}
.audiojs.playing:hover {
  background-color: #f2f2f2;
}

.volume {
  position: relative;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/volume-max-7a4115.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 45px;
  padding: 0 6px;
  &:hover {
    cursor: pointer;
  }
}

.volume-control {
  position:absolute;
  height: 60px;
  min-width: 20px;
  top: -58px;
  left: 6px;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  border-top: 1.5px solid black;
  display: flex;
  align-items: flex-end;
  .volume-bar{
    height: 60px;
    width: 100%;
    background-color: $skyblue;
    z-index: 3;
    box-sizing: border-box;
  }
}



.play-controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 46px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.audiojs {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  p {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    //border: 1px solid black;
    height: 45px;
  }
  .scrubber {
    width: 45%;
    height: 3px;
    margin-top: 16px;
  }
  .progress {
    height: 5px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $skyblue), color-stop(0.5, $skyblue), color-stop(0.51, $skyblue), color-stop(1, $skyblue));
  }
  .loaded {
    height: 5px;
  }

}

#wrapper {
}

#wrapper.hidden {
  display: none;
}
.waveform {
  position: relative;
}

.audiojs .time {
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0px 0px 0px 6px;
  padding: 0px 6px 0px 12px;
  color: rgb(51,51,51);
  //text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.audiojs .time em {
  padding: 0px 2px 0px 0px;
  //color: #f9f9f9;
  font-style: normal;
}
.audiojs .time strong {
  padding: 0px 0px 0px 2px;
  font-weight: normal;
}

.nowplaying-badge {
  font-family: "Interstate";
  width: 19%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
