$skyblue: #7EC0EE;
$transparent-grey: rgba(17,17,17,0.5);
$transparent-dark-grey: rgba(17,17,17,0.95);
.upload-modal {
  display: flex;
  justify-content: center;
  width: 81.6%;
  position: fixed;
  top: 46px;
  background-color: $transparent-dark-grey;
  height: 100%;
  z-index: 2;
}

.hidden {
  display: none;
}

.closeX {
  position: absolute;
  right: 40px;
  top: 40px;
  color: whitesmoke;
  font-size: 60px;
  z-index: 3;
  &:hover{
    cursor:pointer;
  }
}

.form-modal{
  box-sizing: border-box;
  width: 81.6%;
  height: 454px;
  padding: 20px 0;
  position: absolute;
  background: rgba(17,17,17,0.5);
  z-index: 99;
}

input[type=text], input[type=password] {
  width: 600px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #ddd;
  border: none;
}

input[type=text].header-search {
  height: 28px;
  margin-top: 9px;
  margin-left: 9px;;
  box-sizing: border-box;
}

.uploadForm input[type=submit], .session-form input[type=submit] {
  background-color: $skyblue;
  border: none;
  width: 50%;
  padding: 12px 2px;
  font-family: "Interstate";
  font-size: 20px;
  color: whitesmoke;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
  }
}

.session-form input[type=submit] {
  width: 25%;
}

input.comment {
  width: 92%;
  margin: 5px 20px;
  //margin-top: auto;
  padding: 0 9px;
  border-radius: 5px;;
}

.login-form-box {
  padding-top: 60px;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.uploadForm {
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px black;

  p, label {
    margin-top: 20px;
  }
}



ul label {
  width: 50%;
}

label.column.weather-radios {
  align-items: center;
  font-size: 20px;
  p {
    font-size: 20px;
  }
}

.column.left {
  align-items: flex-start;
}

.session-form p {
  color: whitesmoke;
  text-shadow: 1px 1px black;
  margin: 10px 0;
  font-weight: bold;
}

#image_upload_widget_opener.upload-header-button,
#upload_widget_opener.upload-header-button {
  padding-top: 16px;
  width: 100%;
  min-width: 100%;
  font-size: 16px;
}

#upload_widget_opener {
  background-color: $skyblue;
  text-shadow: none;
}

ul.errors {
  flex-direction: column;
}

li.error {
  font-size: 18px;
  color: red;
  text-shadow: 1px 1px black;
  text-align: center;
}
