@font-face {
    font-family: "Interstate";
    src: url('./Interstate Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Freeway-Gothic';
    src:  url('Freeway-Gothic.ttf.woff') format('woff'),
    url('Freeway-Gothic.ttf.svg#Freeway-Gothic') format('svg'),
    url('Freeway-Gothic.ttf.eot'),
    url('Freeway-Gothic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: rgb(242,242,242);
  font-family: 'Interstate';
}

p {
  margin: 0 20px;
  font-size: 16px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  font-size: 18px;
}

ul {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

input[type=text] {
  width: 600px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5%;
  font-size: 14px;
  background-color: #ddd;
  border: none;
}

.content {
  /*height: 1500px;*/
  width: 81.6%;
  margin: 0 auto;
  background-color: white;
}

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  padding: 20px;
}

.hero {
  width: 100%;
  height: 454px;
  /*margin: 0 -3px;*/
  background-image: url('./cover.jpg');
  background-position: 50% 25%;
  background-size: 100%;
}

.logo-holder {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.logo{
  width: 61px;
  height: 28px;

}

.logo-after{
  font-family: 'Freeway-Gothic';
  font-size: 26px;
  letter-spacing: -3px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
}

.button{
  margin: 5px 10px;
  font-family: 'Interstate';
  color: whitesmoke;
  padding: 2px 10px;
  padding-top: 6px;
  border: 1px solid;
  font-size: 14px;
}

.button:hover, button:hover{
  cursor: pointer;
}

.sign-up {
  background-color: #7EC0EE;
  border-color: transparent;
}

.hero-box {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 30px;
  width: 460px;
}

.hero-box h3, .hero-box h4 {
  color: whitesmoke;
  text-shadow: 1px 1px #666;
  margin-bottom: 10px;
  text-align: left;
}

.sign-up.demo.button{
  font-size: 32px;
  margin: 0;
}

.search {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}



.upload {
  height: 40px;
  border: 1px solid #ccc;
  background: transparent;
  padding: 2px 12px;
  border-radius: 8%;
  font-size: 16px;
}

.trending {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1px;
}

.album {
  box-sizing: border-box;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album aside {
  font-size: 12px;
}

.track-info {
  margin-top: 5px;
}

.front-footer {
  margin: 0 auto;
  border-top: 1px solid #ccc;
  width: 90%;
  padding: 20px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.footer-box ul {
  margin-top: 15px;
  color: #aaa;
}

.play-controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 46px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  align-items: center;
}

.play-controls button {
  width: 33px;
  height: 46px;
  background-repeat: no-repeat;
  margin: 0;
  border: none;
  background-color: whitesmoke;
  margin-right: 8px;
}

.back {
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/prev-34697d.svg);
  background-position: 40% center;
}

.pause {
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/pause-b172a6.svg);
  background-position: center center;
}

.skip {
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/skip-3aac31.svg);
  background-position: 60% center;
}

.volume {
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/volume-max-7a4115.svg);
  background-position: 60% 45%;
}

.favorite {
  background-image: url('./solid-black-heart.svg');
  background-size: contain;
  background-position: center;
}

.timer {
  font-size: 12px;
}

.timer.progress {
  margin-left: 50px;

}

.timer.total {
  margin-right: 50px;
}

.outer-progress {
  margin: 0 14px;
  width: 487px;
  height: 1px;
  border-bottom: 1px solid #ccc;
}

.inner-progress {
  height: 1px;
  width: 33%;
  border-bottom: 1px solid #7EC0EE;
}

.track-data{
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

.column li {
  margin-left: 9px;
  /*margin-bottom: 5px;*/
  font-size: 11px;
}

.playlist-name {
  color: #999;
}

.title {
  color: #666;
}
